<div class="container d-flex justify-content-center flex-column">
    <h3 class="text-center"><a href="/">Chefs</a>  |  <a href="/dishes">Dishes</a>  |  Add a Chef  |  <a href="/dishes/new">Add a Dish</a></h3>
    <hr>
    <div class="row mt-5">
        <div class="col-md">
            <partial name="_Register"></partial>
        </div>
        <div class="col-md">
            <partial name="_Login"></partial>
        </div>
    </div>
</div>